.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  position: absolute;
  top: 10;
  left: 10;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.primary-button {
  cursor: pointer;
  background-color: #f7931e;
  border-radius: 4px;
  height: 50px;
  width: 150px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  font-weight: bold;
}

.span-link {
  color: blue;
}

.span-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
